body, html {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #0c0b0b;
}

.feplat3731 ff-modernization-update{
    position: absolute;
    background-color: #0c0b0b;
     height: 100%;
}

.general{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 5px;
    width: 960px;
    height: 800px;
    background-color: #0c0b0b
}

header{
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 1%;
    width: 98%;
    height: 10%;
} 

#cabecera{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 100%; */
    background-color: #0c0b0b
}

.divlogos{
    /* position: abdolute; */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.divlogoalura{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1%;
    width: 50%;
    height: 72%;
}


.logoalura{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1%;
    width: 20%;
    height: 57%;    
}

.divlogoOne{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1%;
    width: 50%;
    height: 72%;
}

.logoOne{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 57%;
    left: 76%;
    padding: 1%;
}

.linea1{
    position: absolute;
    width: 100%;
    /* left: 0px; */
    top: 11%;
    border: 1px solid #fafafa;
}

.principal{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 72%;
    left: 0px;
    top: 12%;
    padding: 1%;
}

.section1{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 28%;
}

.div-h2-titulo{
    display: flex;
    padding: 1%;
    width: 100%;
    height: 78%;
}
.h2-titulo{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 106%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #89a674;
}
.h2-titulo{
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

.section2{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 79%;
    padding: 1%;
}

.divsection2{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 94%;
}

.div-text-area{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 7%;
    left: 10%;
    width: 80%;
    height: 65%;
}

.text-area {
    position: absolute;
    display: flex;
    resize: none;
    width: 97%;
    height: 100%;
    text-align-last: start;
    margin-left: 2%;
    border: none;
    color: #0A3871;
    margin-top: 1px;
    padding: 1px;
    font-size: 2em;
    background-color:#ffffff;
    text-transform: lowercase;
    
}

::placeholder { color: #0A3871; }
  .text-area:focus {
      outline: none;
    }

    .botones{
        position: absolute;
        display: flex;
        flex-direction: row;
        width: 77%;
        height: 17%;
        top: 77%;
        left: 11%;
        padding: 1%;
    }

    .divBotonEncript{
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 1%;
    }
    
    .btn-encriptar {
        background-color: #0A3871;
        border: 1px solid #0A3871;
        border-radius: 24px;
        color: white;
        cursor: pointer;
        width: 100%;
        height: 97%;
        margin-left: 1%;
        padding: 1%;
    }

    .divBotonDesencript{
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 1%;
    }

    .btn-desencriptar {
        background: #D8DFE8;
        border: 1px solid #0A3871;
        border-radius: 24px;
        color: #0A3871;
        font-weight: bold;
        cursor: pointer;
        /* margin-left: 12px; */
        width: 100%;
        height: 97%;
    }
    
.section3{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 1.5%;
    width: 26%;
    height: 68%;
    top: 26%;
    padding: 1%;
}

.divmensaje{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 91%;
    height: 92%;
    padding: 1%;
}

.mensaje{
    position: absolute;
    display: flex;
    background: white;
    background-image: url("/assets/Imagenes/puertaPersonaGlobo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    resize: none;
    width: 93%;
    height: 95%;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    font-size: 2em;
    margin-left: 1%;
    margin-top: 2%;
    padding-left: 2%;  
    cursor: pointer;     
}
    .mensaje:focus {
        outline: none;
    }    


.div-btn-copiar{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 91%;
    height: 15%;
    top: 77%;
    padding: 1%;
}

.btn-copiar {
    position: relative;
    /* display: flex; */
    /* flex-direction: column; */
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #ffffff;
    cursor: pointer;
    width: 70%;
    height: 97%;
    text-align: center;
}

.linea2{
    position: absolute;
    width: 100%;
    height: 0%;
    /* left: 0px; */
    top: 85%;
    border: 1px solid #C0C0C0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer{
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 98%;
    height: 11%;
    left: 0%;
    top: 86.1%;
    padding: 1%;
}

.divfooter{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 77%;
    padding: 1%;

}

.propietario {
    display: flex;
    position: relative;
    width: 50%;
    height: 72%;
    /* top: -5%; */
    /* left: 0.5%; */
    padding: 1%;
}

.h4-propietario{
    display: flex;
    position: relative;
    width: 98%;
    height: 73%;
    /* left: 5%; */
    /* top: -2%; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    color: #de8b36;
    padding: 1%;
}
         
.social-media {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 25%;
    height: 86%;
    left:24%;
    top: -9%;
    right: 20%;
    padding: 1%;
}

.div-logolikedin {
    display: flex
;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 83%;
    left: 0%;
    top: -1%;
    padding: 1%;
}    
.a-logolikedin {
    display: flex;
    position: relative;
    justify-content: center;
    width: 50%;
    height: 100%;
    left: 3%;
    top: 0%;
    padding: 2%;
    transition: 400ms;
}
.a-logolikedin:hover{
    opacity: 0.3;
}
.logolikedin {
    position: absolute;
    width: 80%;
    height: 88%;
    left: 10%;
    top: 6%;
    border-radius: 59px;
    /* background: url(../Botones/logolinkedin.jpg); */
    background-repeat: no-repeat;
}

.div-logoGithub {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 83%;
    left: 0%;
    top: -1%;
    padding: 1%;
}
.a-logoGithub {
    display: flex;
    position: relative;
    justify-content: center;
    width: 50%;
    height: 100%;
    left: 3%;
    top: 0%;
    padding: 2%;
    transition: 400ms;
}
.a-logoGithub:hover{
    opacity: 0.3;
}
.logoGithub {
    position: absolute;
    width: 80%;
    height: 88%;
    left: 10%;
    top: 6%;
    border-radius: 59px;
    /* background: url(../Botones/logoGithub.jpg); */
    background-repeat: no-repeat;
}                   
     
.div-logoFacebook {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 83%;
    left: 0%;
    top: -1%;
    padding: 1%;
}
.a-logoFacebook {
    display: flex;
    position: relative;
    justify-content: center;
    width: 50%;
    height: 100%;
    left: 3%;
    top: 0%;
    padding: 2%;
    transition: 400ms;
}
.a-logoFacebook:hover{
    opacity: 0.3;
}
.logoFacebook {
    position: absolute;
    width: 80%;
    height: 88%;
    left: 10%;
    top: 6%;
    border-radius: 59px;
    /* background: url(../Botones/logoFacebook.jpg); */
    background-repeat: no-repeat;
}

@media screen and (max-width:480px){
    h2{
        text-align: center;
    }
    main{
        position: static;
    }*/
    #cabecera, .linea1, .text-Area, .botones, .mensaje, .btn-copiar, .linea2, #footer, .propietario, .h4-propietario, #social-media {
        width: auto;
    }
    .lista-diferenciales, .imagen-diferenciales{
        width: 100%;
    }
}   
              
                   
                
